#era-input {
    width: calc(100% - 12rem - 1rem);
    background: transparent;
    border: 0 solid;
    height: 5rem;
    font-size: 2rem;
}

#era-input-btn {
    position: absolute;
    right: 1rem;
    width: 12rem;
    height: 5rem;
    background: transparent;
    border: 0.1rem groove;
    font-size: 2rem;
}

#era-input-btn:hover {
    font-weight: bold;
}

#era-input-box {
    margin-top: 5rem;
    margin-bottom: 0;
}

.era-line-left {
    display: flex;
    justify-content: flex-start;
}

.era-line-center {
    display: flex;
    justify-content: space-around;
}

.era-line-right {
    display: flex;
    justify-content: flex-end;
}

.era-drawline {
    width: 100%;
}

@media only all and (min-width: 800px) {
    html {
        font-size: 12px;
    }
}

@media only all and (max-width: 800px) {
    html {
        font-size: 10px;
    }
}